:root{
  --color-dg: #111d06;
  --color-popup: #090f03;
  --color-g: #25591f;
  --color-s: #818c3c;
  --color-ds: #72601b;
  --color-b: #593a0e;
  --color-text: #ead0a8;
  --color-highlight: #f1f1f1;
}

body {
  background-color: var(--color-g);/* Dark background */
  color: darkgreen; /* Light text color */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.main{
  width: 78%;
  max-width: calc(100% - 220px); /* Adjust the value based on your sidebar width */
  padding: 20px;
  margin: 20px 20px 20px 200px; /* Adjust the margin to give space for the sidebar */
  color: black;
  background-color: var(--color-highlight);
  overflow: auto; /* Add overflow property */
}

.main p{
  margin: 8px;
}

#miesiace th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid black;
}
#miesiace{
  float: left;
  cursor: pointer;
}

#miesiace tr:hover{
  background-color: var(--color-s)
}

.grupy {
  display: flex;
  justify-content: space-between;
}

#numer_grupy{
  font-size: 2.5rem;
}

.grupy ul {
  margin: 10;
  padding: 10;
}

.grupy ul li {
  margin: 10;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.czlonkowie_lista {
  display: flex;
  gap: 20%;
  margin: 10px;
}

.czlonkowie_lista ol {
  margin: 5;
  padding: 5;
}

.czlonkowie_lista ol li {
  margin: 5;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
