:root{
  --color-dg: #111d06;
  --color-popup: #090f03;
  --color-g: #25591f;
  --color-s: #818c3c;
  --color-ds: #72601b;
  --color-b: #593a0e;
  --color-text: #ead0a8;
  --color-highlight: #f1f1f1;
}

body {
  background-color: var(--color-g);/* Dark background */
  color: darkgreen; /* Light text color */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.main{
  width: 78% ;
  height: auto;
  padding: 20px;
  margin: 20 20 20 200;
  color: black;
  background-color: var(--color-highlight);
  float: left;
}

.main p{
  margin: 8px;
}

.main th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

 #miesiace tr:hover{
  background-color: var(--color-s)
 }